[Unit]
Description = Slack Bot Gateway Server

[Service]
Type = simple
ExecStart = /path/to/command/slack_bot_gateway -c /path/to/configs
KillMode = process
Restart = always

[Install]
WantedBy = multi-user.target
